<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360942828863-rfd2dpiphqnguls2l9b25flk5hgaie4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360942828863-rfd2dpiphqnguls2l9b25flk5hgaie4r</string>
	<key>API_KEY</key>
	<string>AIzaSyANaAv62oG84beRUgyrGL1yYKadP3jBXgo</string>
	<key>GCM_SENDER_ID</key>
	<string>360942828863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ethanmosher.Habit-Tracker</string>
	<key>PROJECT_ID</key>
	<string>habittracker-11</string>
	<key>STORAGE_BUCKET</key>
	<string>habittracker-11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360942828863:ios:91fd32c8227c83b1f2a78a</string>
</dict>
</plist>